

.body1{
    background-image: url('https://i.pinimg.com/originals/1e/0a/19/1e0a19064111f06b2536259de5b6c2a0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}